body {
  padding: 0;
  margin: 0;
  background-color: white;
  font:message-box;
}
h1,h2{
  margin: 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-width: 320px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}


.header {
  background-color: rgb(0, 0, 0);
  height: 80px;
}
.header_body{
  display:flex;
}
.header_item{
  display: inline-flex;
  justify-self: space-between;
  align-items: center;
  padding: 0 8px;
}
.header_title{
  font-size: 28px;
  padding: 0 30px;
  color: white;
}
.logo{
  width: 60px;
}

@media (min-width: 640px){
  .header{
    height: 100px;
  }
  .header_item{
    padding: 0 14px;
  }
  .header_title{
    font-size: 34px;
  }
  .logo{
    width: 80px;
  }   


 .tabl
  {
    order:2;
  }
  .forma
  {
    order:3;
  }
  .sl
  {
    order:1;
  }
}

@media (min-width: 1024px){
  .header_title{
    font-weight: 700;
  }
  .logo{
    width: 80px;
    padding: 0 20px;
  }
  .container{
    max-width: 960px;
    margin: 0 auto;
  }
 
 .nav1 ul {
    flex-direction: row;
    text-align: center;
  }

  nav ul {
    list-style-type:none;
    display: flex;
    flex-direction: column;
    }

}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}


.content nav {
  background-color: #a7a7a7;
  width: 100%;
}


nav ul {
list-style-type:none;
display: flex;
flex-direction: column;
}
nav li{
border-bottom: 1px rgb(230, 230, 230);
position: relative;
line-height: 18px;
}
nav li:before{
content: '\2022';
position: absolute;
font-size: 40px;
font-weight: 700px;
line-height: 18px;
color:rgb(0, 0, 0);
}


nav ul a {
font-weight: bold;
font-size: 150%;
margin: 23px;
}


a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #d244d2;
}

.content .sl {
background-color: rgb(102, 102, 102);
margin-top: 5px;
margin-bottom: 5px;
padding: 0 10px;  
width: 100%;
}
.h2_title{
  text-align: center;
}

.content .tabl
  {
  width: 100%;
  background-color: rgb(90, 90, 90);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content .tabl table .one {
  background-color: rgb(95, 95, 95);
}

.content .tabl table .tw {
  background-color: rgb(70, 70, 70);
}

.content .tabl table {
  background-color: rgb(207, 207, 207);
  margin: auto;
  margin-bottom: 25px;
}

.content .forma {
  width: 100%;
  background-color: rgb(63, 63, 63);


}

footer {
  flex: 1 0 auto;
  width: 100%;
  background-color: #fff;
  height: 80px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font:message-box;
  font-size: 200%;



}

